.invalid p {
    color: red;
}


#login-button {
    border-radius: 4px;
    background-color: #3264a8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header {
    display: flex;
}

.item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:first-child > span {
    margin-right: auto;
}

.item:last-child  > span {
    margin-left: auto;
}

#buy-button {
    border-radius: 4px;
    background-color: #3264a8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn {
    border-radius: 4px;
    background-color: #3264a8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #295088;
}

.entry-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.entry-container:first-child > span {
    margin-right: auto;
}

.entry-container:last-child  > span {
    margin-left: auto;
}

.entry {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 200px;
    overflow: auto;
}

.arrow {
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

.arrow-container {
    min-width: 50px;
}

.logon-history table {
    border-collapse: collapse;
    margin: 0 auto;
}

.logon-history th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.logon-history tr:nth-child(even) {
    background-color: #f2f2f2;
}